.searchbox {  
    float: left;
    border-color: black; 
    display: block;
    box-sizing: border-box;
    border: 0 none;
  height: 52px;
  margin-right: 0;
  outline :2px;
    }  
    input[type=text] {  
    padding: 6px;  
    margin-top: 8px;  
    font-size: 20px;  
    border: 5px; 
    }  
    .searchbox button {  
      
    padding: 8px;  
    margin-top: 10px;  
    margin-left: 10px;  
    background: orange;  
    font-size: 15px;  
    border:1px;  
    cursor: pointer;  
    }  
    .searchbox button:hover {  
    background: blue;  
    } 

    #button {
      line-height: 12px;
      width: 18px;
      font-size: 10pt;
      font-family: tahoma;
      margin-top: 5px;
      margin-right: 10px;
      position:absolute;
      top:0;
      right: 0;
  }

  #resume {
border: 5px;

  }